{% extends "/html/base.html" %}
{%block title %}{{post.title}}{% endblock %}
{% block description %}{{post.description}}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{post.title}}">
<meta property="article:author" content="https://wladyka.eu">
<meta property="og:description" content="{{post.description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{site-url}}{{post.uri}}">
<meta property="og:updated_time" content="{{post.date|date:yyyy-MM-dd}}">
<script type=application/ld+json>
{
    "@context": "https://www.schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "Blog",
        "@id": "{{site-url}}{{post.uri}}"
    },
    "datePublished": "{{post.date|date:yyyy-MM-dd}}",
    {% if post.updated %}
    "dateModified": "{{post.updated}}",
    {% endif %}
    "name": "{{post.title}}",
    "headline": "{{post.title}}",
    "description": "{{post.description}}",
    "articleBody": "{{post.content|safe}}",
    {% if post.thumbnail %}
    "image": "{{site-url}}{{post.uri}}{{post.thumbnail}}",
    "thumbnailUrl": "{{site-url}}{{post.uri}}{{post.thumbnail}}",
    {% endif %}
    "author": {
        "@type": "Person",
        "name": "{{author}}",
        "url": "https://wladyka.eu"
    }
}
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <article>
            <h1>{{post.title}}</h1>
            <div class="post-meta">
                {{post.date|date:"yyyy-MM-dd"}}
                {% if post.updated %}
                <span>(updated: {{post.updated}})</span><br />
                {% endif %}
                {% if post.tags|not-empty %}
                <div class="tags">
                    tags
                    {% for tag in post.tags %}
                    <a href="{{tag.uri}}">{{tag.name}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if post.toc %}{{post.toc|safe}}{% endif %}
            {{post.content|safe}}
        </article>
    </div>
</div>

{% if disqus-shortname %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_config = function () {
        this.page.url = "{{site-url}}{{uri}}";
        this.page.identifier = "{{post.title}}";
    };
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{disqus-shortname}}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endif %}

{% endblock %}

{% block bottom %}
<div class="footer">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-8">
                <script src="https://giscus.app/client.js"
                    data-repo="kwladyka/cto-wladyka-eu"
                    data-repo-id="MDEwOlJlcG9zaXRvcnkyMjUwODI0MTM="
                    data-category="blog comments"
                    data-category-id="DIC_kwDODWp8Lc4B_Ycg"
                    data-mapping="pathname"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-theme="light"
                    crossorigin="anonymous"
                    async>
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}